@media (min-width: @tablet-width) {
  .advantages {
    display: flex;
  }
  .advantages__item {
    width: 256px;
    padding-top: 160px;
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
  }
  .advantages__item--item3 {
    order: 2;
  }
  .advantages__item--item2 {
    order: 3;
  }
}

@media (min-width: @dekstop-width) {
  .advantages__item {
    width: 400px;
  }

}
