.form-intro {
  padding-left: 22px;
  padding-right: 21px;
  text-align: center;
}

.form-intro__caption {
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  font-family: "PTSansBold", "Arial", sans-serif;
  color: @black-color;
}

.form-intro__tagline {
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: @tablet-width) {
  .form-intro {
    width: 470px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  .form-intro__caption {
    font-size: 30px;
    line-height: 26px;
  }
}
