.hotel-search {
  padding-left: 20px;
  padding-right: 20px;
  background-color: khaki;
  text-align: center;
}

.hotel-search__button {
  display: block;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .hotel-search {
    width: 434px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

}
