.page-footer {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #ffffff;
  outline: 5px solid tan;
}

.page-footer__tags,
.page-footer__social,
.page-footer__copyright {
  width: 140px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
  }
}
