.page-header {
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "PTSansBold", "Arial", sans-serif;
}

.page-header__picture {
  position: relative;
  width: 100%;
  height: 389px;
  background-color: @blue-color;
  background-image: url("../img/text-sedona-index.svg"),
                    url("../img/bg-intro-triangle-mobile.svg"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 282px, 104%, auto;
  background-position: 20px, bottom, center;
}

.page-header__picture--small {
  height: 157px;
  background-image: url("../img/text-sedona.svg"),
                    url("../img/bg-intro-triangle-mobile.svg"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-size: 229px, 104%, auto;
  background-position: center 52px, bottom, bottom;
}

.page-header__image {
  width: 768px;
  margin-left: -230px;
}

@media (min-width: @tablet-width) {
  .page-header {
    font-size: 14px;
    line-height: 26px;
    color: @black-color;
    background-color: #ffffff;
  }
  .page-header__picture {
    height: 518px;
    background-position: center 77px, bottom, center;
    background-size: 460px, auto, cover;
  }
  .page-header__picture--small {
    height: 290px;
    background-image: url("../img/text-sedona.svg"),
                  url("../img/bg-intro-triangle-mobile.svg"),
                    url("../img/bg-back-mobile@1x.jpg");
    background-size: 458px, auto, auto;
    background-position: center 92px, bottom, bottom;
  }
}

@media (min-width: @dekstop-width) {
  .page-header__picture--small {
    height: 301px;
    background-image: url("../img/text-sedona.svg"),
              url("../img/bg-intro-triangle-mobile.svg"),
              url("../img/bg-back-mobile@1x.jpg");
    background-size: 461px, 711px, 100%;
    background-position: center 99px, bottom, bottom;
  }
  .page-header {
    margin-bottom: 38px;
  }
}


// box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2); последний
