.page-header {
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "PTSansBold", "Arial", sans-serif;
}

.page-header__picture {
  position: relative;
  width: 100%;
  height: 389px;
  padding-top: 90px;
  padding-bottom: 70px;
  background-color: @blue-color;
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 104%,
                   auto;
  background-position: bottom,
                       center;
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"),
                      url("../img/bg-back-mobile@2x.jpg");
    background-size: 104%,
                     cover;
  }
}

.page-header__picture--small {
  height: 157px;
  padding-top: 52px;
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-size: 104%,
                   auto;
  background-position: bottom,
                       bottom;
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"),
                      url("../img/bg-back-mobile@2x.jpg");
    background-size: 104%,
                     768px;
  }
}

.page-header__promo {
  display: block;
  margin: 0 auto;
  width: 282px;
}

.page-header__promo--small {
  display: block;
  margin: 0 auto;
  width: 229px;
}

@media (min-width: @tablet-width) {
  .page-header {
    font-size: 14px;
    line-height: 26px;
    color: @black-color;
    background-color: #ffffff;
  }
  .page-header__picture {
    height: 518px;
    padding-top: 77px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"),
                      url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom,
                         center;
    background-size: 102%,
                     auto;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"),
                        url("../img/bg-back-tablet@2x.jpg");
      background-size: 102%,
                       cover;
    }
  }

  .page-header__picture--small {
    height: 290px;
    padding-top: 95px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"),
                      url("../img/bg-back-tablet@1x.jpg");
    background-size: 100%,
                     auto;
    background-position: bottom,
                         bottom;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"),
                        url("../img/bg-back-tablet@2x.jpg");
      background-size: 100%,
                       cover;
    }
  }
  .page-header__promo {
    width: 460px;
  }
  .page-header__promo--small {
    width: 458px;
  }
}

@media (min-width: @dekstop-width) {
  .page-header__picture {
    height: 518px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
                      url("../img/bg-back-desktop@1x.jpg");
    background-position: bottom,
                         center;
    background-size: 100%,
                     auto;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"),
                        url("../img/bg-back-desktop@2x.jpg");
      background-size: 104%,
                       cover;
    }
  }
  .page-header__picture--small {
    height: 301px;
    padding-top: 101px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"),
                      url("../img/bg-back-desktop@1x.jpg");
    background-size: 100%,
                     100%;
    background-position: bottom,
                         bottom;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"),
                        url("../img/bg-back-desktop@2x.jpg");
      background-size: 104%,
                       cover;
    }
  }
  .page-header__promo--small {
    width: 461px;
  }
}
