.page-main {
  padding-top: 40px;
  // padding-left: 20px;
  // padding-right: 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @base-color;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #ffffff;
  outline: 5px solid silver;
}
