.sedona-showing {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .sedona-showing {
    width: 415px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }
}
