.site-list {
   background-color: @blue-color;
  .list-reset();
}

.site-list__link {
  display: block;
  padding: 8px;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  font-family: "PTSansBold", "Arial", sans-serif;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  text-align: center;
  .link-reset ();
  &:hover {
    background-color: #669ec0;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #669ec0;
  }
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    background-color: #ffffff;
  }
  .site-list__item {
    width: 153px;
    color: @black-color;
    background-color: #ffffff;
    text-align: center;
  }
  .site-list__item--item3 {
    margin-left: auto;
  }
  .site-list__link {
    padding: 16px;
    font-size: 14px;
    line-height: 26px;
    color: @black-color;
    box-shadow: none;
  }
}

@media (min-width: @dekstop-width) {
  .site-list__item {
    width: 239px;
  }
}


