.social {
  display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
  margin-bottom: 43px;
}

.social__btn {
  position: relative;
  margin-right: 6px;
  width: 46px;
  height: 48px;
  background-color: @blue-color;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    .social__icon {
      opacity: 0.3;
    }
  }
}

.social__icon {
  position: absolute;
  fill: #ffffff;
}

.social__icon--tw {
  top: 17px;
  left: 14px;
  width: 18px;
  height: 14px;
}

.social__icon--fb {
  top: 14px;
  left: 19px;
  width: 9px;
  height: 18px;
}

.social__icon--yotube {
  top: 17px;
  left: 13px;
  width: 20px;
  height: 14px;
}

@media (min-width: @tablet-width) {
  .social {
    margin: 0;
  }
}
